<connectionStrings>
  <add name = "ZmaContext"
       providerName = "System.Data.SqlClient"
       connectionString ="data source=tcp:cmigrationtestserver.database.windows.net,1433;Initial Catalog=contiousMigration;Persist Security Info=False;User ID=zma1688;Password=mzd862400^6;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
</connectionStrings>