@model IEnumerable<ContinuousMigration.Models.Student>

<p class="text-success">@ViewBag.Message</p>

<h2>Students</h2>
<table class="table table-responsive text-center">
   <tr><td>name</td><td>major</td></tr>

    @foreach (var item in Model)
    {
        <tr><td>@item.name</td><td>@item.major</td></tr>
    }

</table>