@model IEnumerable<ContinuousMigration.Models.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Students(;)</h2>
<ul>
   <li>name</li>

    @foreach (var item in Model)
    {
        <li>@item.name</li>
    }

</ul>